
# =========================
# Entorno y secretos
# =========================
.env
auditoria.md

# =========================
# Binarios de Go
# =========================
main
*.exe
*.exe~
*.dll
*.so
*.dylib


# =========================
# Archivos de compilación
# =========================
*.test
*.out

# =========================
# Caché de Go
# =========================
/tmp/
/vendor/

# =========================
# Logs
# =========================
*.log


# =========================
# IDEs y editores
# =========================
.vscode/
.idea/
*.swp
*.swo
*.tmp
